
<section class="course">
   <p class="courses">Курсы</p>
<div class="course-price">
      {{#if courses.length}}
      {{#each courses}}
   
   <p  class="course-price_p1">{{title}}</p>
      <div class="img-wrapper">
         <img src="{{img}}" alt="title">
         <p>{{price}}</p>
      </div>
   
<section class="href">
   <a href="/course/{{id}}/edit?allow=true">редактировать</a>
   <a href="/course/{{id}}" class="href-courses" target="_blank">Узнать больше</a>
   <form action="/card/add" method="POST" class="formAdd">
      <input type="hidden" name="id" value="{{id}}">
      <label for="btn"><p><a>Добавить</a></p></label>
      <button id="btn" type="submit"></button>
   </form> 
</section>


      {{/each}}
      {{else}}
   <pre>Ничего не найдено</pre>
      {{/if}}
</div>     
</section>